<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Course</title>
   
</head>
<body>
    course/index.cshtml view
</body>
</html>